<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281273619567-3l70mskir4un6g74j5sf6tbjr49e92t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281273619567-3l70mskir4un6g74j5sf6tbjr49e92t0</string>
	<key>API_KEY</key>
	<string>AIzaSyA1chtivH6W8qJRgNhh3bf6xhsPCMjdxBE</string>
	<key>GCM_SENDER_ID</key>
	<string>281273619567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wechat.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-f2e94</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-f2e94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281273619567:ios:35c9661bd70b9d6ee4299a</string>
</dict>
</plist>